# rules
--enable blankLineAfterImports
--disable unusedArguments,wrapMultilineStatementBraces

# file options
--exclude Pods

# header
--header "{file}\nCopyright (c) {year} AppWorks School\nCreated by Hsun on {created}."
